.showcasee {
    width: 100%;
    display: flow-root;
    position: relative;
    background-color: #18191a;
}
.showcase_items{
    max-width: 800px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
#Projects,#Experiences, #Educations, #Others {

    max-width: 800px;
    margin:40px auto;
    background-color: #2a2b2c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.showcase_items_title {
    display: flex;
    margin: 20px 20px 0px 20px;
}
.showcase_items_title > h1 {
    flex: 1;
    color: aliceblue;
    text-transform: uppercase;
}
.showcase_items_title > span {
    width: 80px;
    border-radius: 20px;
    background-color: #2a2b2c;
    cursor: pointer;
    display: grid;
    font-weight: 700;
    letter-spacing: 1px;
    place-items: center;
    color: #bbc3c9;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.3),
                4px 4px 5px rgba(0, 0, 0, 0.3);
}
.showcase_items_title > span:hover {
    background-color: #3f4041;
}
.showcase_items_title > span:active {
    color: #2a2b2c;
    box-shadow: inset -3px -3px 5px rgba(255, 255, 255, 0.3),
                inset 3px 3px 10px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 800px) {
    .showcase_items{
        margin:20px 20px;
        font-size: 10px;
    }
  }